@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-dark text-gray-100 font-body antialiased;
}

::selection {
  @apply bg-accent/40 text-white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-accent/40 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent/60;
}
